@import url('https://fonts.googleapis.com/css2?family=Jost:ital@1&family=Montserrat:wght@200&display=swap');
*{
    margin: 0.5;
    padding: 0;
}
body{
    /* background: linear-gradient(to right,#043050 50%, #ff9100 50%); */
    background: linear-gradient(-160.5deg,#3b4d65 50%,#a97839 50%);
}
.container-box{
    margin-top: 20px;
}
.container{
    background-color: blanchedalmond;
}
 a h3{
    color: rgb(82, 52, 12);
} 
/* .row{
 display: -webkit-inline-flex; 
 
}*/
.col
{
    margin: 3px;
    padding: 1px;
    color: rgb(84, 5, 5);
    

}
.col h2 :hover{
      background-color: blueviolet;
      color: #000;
}
html{
    font-family: 'Jost', sans-serif;
}
.main{
    height: 90vh;
    width: 100vw;
    display: grid;
    place-items: center;
    margin-top: 5px;
    
}
.music-container{
    height: 30rem;
    width: 20rem;
    background: rgb(213, 225, 53);
    text-align: center;
    box-shadow: 0 0px 10px 2px rgb(76, 160, 57);
}
.music-container#songname{
   font-size: 20px;
   text-transform: uppercase;
   word-spacing: 0.2rem;
   letter-spacing: 0.2rem;
   margin-top: 3%;
}
.music-container#artistname{
font-size: 16px;
text-transform: capitalize;
margin-top: 3%;
color: green;
}
.img-container
{
    margin: auto;
    height: 15rem;
    width: 15rem;
    margin-top: 10%; 
    margin-bottom:30px;
}
img{
    height: 100%;
    width: 100%;
    border: 2px solid red;
    border-radius: 50%;
    box-shadow: 0 0px 17px 2px black;
}
.control-buttons{
    margin:20%;
    /* height: 80px;
     width: 280px; */
    margin: auto;
    /* background-color: rgb(44, 108, 164); */
    align-items: center;
    justify-content: space-between;
}
button{
    height: 40px;
    width: 70px;
    border-radius: 25px;
}
button:hover{
    background-color: rgb(194, 88, 88);
    box-shadow: 0 0px 12px 2px rgb(51, 227, 7);
    cursor: pointer;
}

.rotateAnime{
    animation: rotatePic 7s linear infinite;
}
@keyframes rotatePic{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}